@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/Font/NotoKufiArabic-VariableFont_wght.ttf') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    font-family: 'Noto Kufi Arabic', sans-serif !important;
  }
  
  .card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    text-align: center !important;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .iconBox {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    gap: 6px;
  }
  
  .icon {
    color: #E61D25;
    font-size: 2rem;
    margin-left: 0.5rem;
  }
  
  .title {
    font-weight: 700;
    font-size: 1.2rem;
    color: #0E3448;
    font-family: 'Noto Kufi Arabic', sans-serif !important;
  }
  
  .text {
    font-size: 1rem;
    color: #333;
    line-height: 1.8;
    text-align: center;
    font-family: 'Noto Kufi Arabic', sans-serif !important;
  }
  