@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  .card {
    width: 100%;
    height: 59vh;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 20px 30px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
  }
  
  .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.2rem;
    color: #343A40;
  }
  
  .buttons {
    display: flex;
    gap: 12px;
    font-weight: 400;
  }
  
  .rangeButton {
    background-color: transparent;
    padding: 6px 18px;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: #2A3042;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .rangeButton:hover {
    background-color: #e0e7ff;
    border-color: #556EE6;
    color: #556EE6;
  }
  
  .active {
    background-color: #556EE6;
    border-color: #556EE6;
    color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgb(85 110 230 / 0.4);
  }
    