@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/Font/NotoKufiArabic-VariableFont_wght.ttf') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
    
  .globale {
      background-color: #f3f5f6;
      width: 100%;
      height: 200vh;
      display: flex;
      padding-inline: 8%;
      padding-top: 50px;
      flex-direction: column;
  
      /* RTL et font arabe */
      direction: rtl;
      font-family: 'Noto Kufi Arabic', sans-serif;
  }
  
  .Partie1 {
      min-height: 50vh;
      width: 100%;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px;
  }
  
  .Partie2 {
      height: 25vh;
      width: 100%;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding-top: 5px;
      padding-inline: 20px;
      margin-top: 40px;
  }
  
  .spani {
      font-weight: 600;
  }
  
  .totale {
      color: #939393;
      font-size: 18px;
      text-transform: none;
      font-family: 'Noto Kufi Arabic', sans-serif; /* police arabe ici */
      font-optical-sizing: auto;
      font-style: normal;
      font-weight: 400;
  }
  @media (max-width: 600px) {
    .Partie2 {
      width: 100%; /* prend toute la largeur dispo */
      height: auto; /* pour que ça s’adapte au contenu */
      padding-bottom: 30px;
    }
  }
  .prix_totale {
      font-size: 18px;
      text-transform: none;
      font-family: 'Noto Kufi Arabic', sans-serif; /* police arabe ici */
      font-optical-sizing: auto;
      font-style: normal;
      font-weight: 400;
  }
  