.card {
    width: 100%;
    max-width:  450px; /* largeur étendue pour un rectangle */
    border-radius: 12px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    zoom: 0.9;
  }
  .card2{
    width: 100%;
    max-width:  450px; /* largeur étendue pour un rectangle */
    border-radius: 12px;
    background: white !important;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    zoom: 0.9;
    height: 47vh !important;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7266EE;
    padding:24px 20px;
    position: relative;
    min-height: 90px; /* donne un aspect rectangulaire */
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
  }
  
  .welcome {
    font-weight: 700 !important;
    font-size: 18px !important;
    color: #ffffff;
    margin-bottom: 5px !important;
    text-align: center;
  }
  
  .subtitle {
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-bottom: 15px !important;
    color: #ffffff;
    text-align: center;
  }
  
  .illustration {
    object-fit: contain;
    width: 100px;
    height: auto;
    bottom: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    position: relative;
  }
  .textleft{
    position: absolute;
    overflow: hidden;
    left: 41px;
    top: 50px !important;
  }
  .textright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left !important;
    padding-left: 150px;
  }
  .avatarWrapper {
    position: absolute;
    top: -30px;
    border-radius: 50%;
    border: 4px solid white;
    overflow: hidden;
    width: 70px;
    height: 70px;
    left: 35px;
  }
  
  .avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
  }
  
  .role {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
  }
  
  .statItem {
    text-align: center;
    flex: 1;
  }
  
  .statValue {
    font-size: 18px;
    font-weight: bold;
  }
  
  .statLabel {
    font-size: 12px;
    color: #6c757d;
  }
  
  .viewButton {
    background-color: #556ee6 !important;
    text-transform: none !important;
    border-radius: 4px !important;
    padding: 4px 15px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
  }
  