@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('/Font/NotoKufiArabic-VariableFont_wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.hero,.hero2{
  position: relative;
  width: 100%;
  height: 40vh;
  /* plus besoin de background-image ici car Next/Image gère l'image */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}
.hero2{
  height: 45vh;
}

/* Wrapper pour positionner l'image en absolute et full cover */
.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* derrière le contenu */
}
.hero2::after{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: rgba(26, 54, 77, 0.688);
  z-index: 1;
}
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 54, 77, 0.688);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 20px;
  font-family: "Noto Kufi Arabic", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  line-height: 1.3;
}

.breadcrumb {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 0.95rem;
  backdrop-filter: blur(5px);
  font-family: 'Noto Kufi Arabic', sans-serif !important;
}

.breadcrumb a {
  color: #fff;
  text-decoration: none;
  margin: 0 4px;
  font-size: 14px;
  transition: color 0.3s ease;
}

.breadcrumb a:hover {
  color: #aad8ff;
}

.breadcrumb a::after {
  content: "›";
  margin: 0 6px;
  font-size: 16px;
  color: #ddd;
}

.breadcrumb a:last-child::after {
  content: "";
}

@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }
  .photoTopLeft{
    display: none !important;
  }
  .hero-content h1 {
    font-size: 2rem;
  }

  .breadcrumb {
    font-size: 0.8rem;
    padding: 4px 10px;
  }
}
@media (max-width: 600px) {
  .hero {
    height: 250px; /* hauteur réduite sur mobile */
  }
}
@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.photoTopLeft {
  position: absolute;
  top: 0px;
  left: 120px;
  z-index: 3;
  animation: floatUp 0.9s ease-in-out infinite alternate; 
}

.photoTopLeft img {
  border-radius: 10px;
}
