@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('/Font/NotoKufiArabic-VariableFont_wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


.title {
  font-size: 2.5rem;
  margin-bottom: 20px !important;
  font-family: 'Noto Kufi Arabic', sans-serif !important;
  font-style: normal;
}

.sous_title {
  font-size: 1.2rem;
  line-height: 40px;
  max-width: 600px;
  margin-top: 0 !important;
  font-family: 'Noto Kufi Arabic', sans-serif !important;
  font-style: normal;
}


.sous_title {
  font-size: 1.2rem;
  line-height: 40px;
  max-width: 600px;
}

.icon_slider {
  margin-top: 30px;
  width: 100px;
  height: auto;
}

.contenu_slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding: 1rem;
  text-align: center;
}

/* TABLETTE */
@media (max-width: 1024px) {
  .title {
    font-size: 2.2rem !important;
    margin-bottom: 25px;
  }

  .sous_title {
    font-size: 1.1rem !important;
    line-height: 1.6;
    max-width: 90%;
  }

  .icon_slider {
    width: 90px !important;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .contenu_slider {
    padding: 0.5rem 1rem; /* moins de padding horizontal */
    max-width: 100vw; /* éviter débordement horizontal */
  }
  .icon_slider{
    margin-bottom: 15px;
  }
  .title {
    font-size: 1.6rem !important; /* un peu plus petit */
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw; /* limite largeur */
    text-align: center; /* assurer centrage */
  }

  .sous_title {
    font-size: 0.9rem !important; /* un peu plus petit */
    line-height: 1.8;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .icon_slider {
    width: 60px !important; /* réduire la taille */
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

