@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.layout {
    display: flex;
    min-height: 100vh;
    direction: ltr !important;
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
  }
  
  .sidebar {
    width: 250px;
    scrollbar-width: thin;        /* auto | thin | none */
    scrollbar-color: #888 #222;  
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    height: 65px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border: none !important;
    padding: 0 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .main {
    padding: 20px;
    background-color: #F1F5F9;
    flex-grow: 1;
  }
  .Liste1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

  }
  .Globale{
    display: flex;
    gap: 20px;
    padding-top: 20px;
  }
  .Liste2{
    width: 100%;display: flex;
    flex-direction: column;
  }
  .card {
    width: 100%;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif;
    margin: 20px 0 10px;
    padding: 16px;
    overflow-x: auto;
    min-height: 60vh;
  }
  .header{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .primary {
    background: #4f46e5;        /* indigo‑600 */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .primary:hover {
    background: #4338ca;        /* indigo‑700 */
  }
  .secondary {
    background: #6b7280;        /* gray‑500 */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .secondary:hover {
    background: #4b5563;        /* gray‑600 */
  }
  .actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 28px;
  }