.section {
  width: 100%;
  background-color: #f8f8f8;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  padding: 2rem 0; 
}

.carousel_container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; /* ⬅️ nécessaire pour le positionnement de la pagination */
  padding-bottom: 50px; /* optionnel mais aide à espacer */
}


.image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* augmenté */
}

.brand_image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Cache les boutons sur mobile */
@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.carousel_container :global(.swiper-pagination) {
  position: absolute;
  bottom: -30px; /* pousse vers le bas en dehors des images */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
