/************************* About *****************************/
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('/Font/NotoKufiArabic-VariableFont_wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
.about{
  min-height: 90vh; /* ou supprime height */
  height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
    background-color: rgb(248,248,248);
  }
  /*
  .RTL_direction{
    direction: ltr !important;
  }*/
  .block12 {
  width: 100%;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.blockimage{
  max-width: 500px;  /* limite à 500px */
}
  .block13{
    width: 100%;
    height: 100%;
    display: block;
    align-items: start;
    justify-content: center;
    padding-inline: 50px;
  }
  .block13 p{
    font-size: 15px;
    color: rgb(71, 71, 71);
    line-height: 23px;
    margin-top: 36px !important;
  }
  .desc{
    font-family: 'Cairo','Noto Kufi Arabic', sans-serif !important;
    direction: rtl;
    font-size: 14px !important;
  }
  .block12 img{
    width: 500px;
    height: auto;
  }
  .liste,.liste2{
    background-color: #fff;
    width: 100%;
    height: 200px;
    margin-top: 15px !important;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .liste2{
    direction: rtl !important;
  }
  .partie1{
    width: 100%;
    height: 100%;
    border-right: 1px solid;
    border-color: #a7a7a7;
  }
  .partie1AR{
    width: 100%;
    height: 100%;
    border-left: 1px solid;
    border-color: #a7a7a7;
  }
  .partie2{
    width: 100%;
    height: 100%;
  }
  .liste-user{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
    margin-right: 25%;
  }
  .liste-user .user img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid;
    border-color: #fff;
  }
  .liste-user .user:nth-child(1) img {
    right: 58px;
    z-index: 2;
  }
  
  .liste-user .user:nth-child(2) img {
    right: 18px;
    z-index: 9;
  }
  
  .liste-user .user:nth-child(3) img {
    right: 33px;
    z-index: 8;
  }
  
  .liste-user .user:nth-child(4) img {
    right: 48px;
    z-index: 7;
  }
  .liste ul,.liste2 ul{
    display: block;
    list-style: none;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    color: #000;
  }
  .liste ul li,.liste2 ul li{
    display: flex;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    margin: 15px;
  }
  .liste2 ul li{
    font-family: 'Cairo','Noto Kufi Arabic', sans-serif !important;}
  .partie2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
    flex-wrap: wrap; 
  }
  .text-rating{
    display: block;
    text-align: center;
  }
  .text-rating span{
    font-family: 'Cairo','Noto Kufi Arabic', sans-serif !important;
    font-size: 15px;
    color: rgb(71, 71, 71);
  }
  .rating {
    font-size: 1em;
    color: #ddd;
    width: 100%;
    text-align: center;
    margin: 10px !important;
  }
  
  .rating i {
    color: #fca208;
    transition: color 0.3s ease;
    margin-right: 5px; 
  }
  .titre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
    text-align: center;
  }
  
  .section_title2 {
    color: #0A2C47;
    font-size: 26px; /* réduit de 32px */
    font-weight: 700;
    font-family: 'Cairo', 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    line-height: 1.4;
  }
  
  .sous_titre {
    color: #ED1C24;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Cairo', 'Noto Kufi Arabic', sans-serif;
    margin-top: 15px;
    line-height: 1.3;

  }
  
  .experience{
    width: 320px;
    height: 80px;
    background-color: #007DB0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 12px;
    zoom: 0.7;
  }
  .anne{
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cairo','Noto Kufi Arabic', sans-serif !important;
    font-style: normal;
    padding-inline: 10px;
    border-right: 1px solid;
    border-color: #ffffff;
  }
  
  .nbr span{
    font-size: 3rem;
    font-weight: 800 !important;
    font-family: 'Cairo','Noto Kufi Arabic', sans-serif !important;
  }
  .nbr{
    color: #fff;
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anne span{
    font-size: 1.5rem;
    font-weight: 800 !important;
    text-decoration: none;
    font-family: 'Cairo','Noto Kufi Arabic', sans-serif !important;
    text-align: center;
  }
  @media (max-width: 1200px) {
    .about {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
    .titre {
      height: 140px;
    }
  
    .sous_titre {
      bottom: -10px;
    }
  
    .block12 img {
      width: 400px;
    }
  
    .block13 {
      padding-inline: 30px;
      padding-top: 10vh;
    }
  
    .liste, .liste2 {
      flex-direction: column;
      height: auto;
    }
  
    .partie1 {
      border-right: none;
      border-bottom: 1px solid #a7a7a7;
    }
  
    .partie1AR {
      border-left: none;
      border-bottom: 1px solid #a7a7a7;
    }
  
    .partie2 {
      margin-top: 20px;
      flex-direction: column;
      align-items: flex-start;
      padding-inline: 15px;
    }
  
    .liste-user {
      margin-right: 0;
      margin-bottom: 20px;
      display: flex; /* affichage avatars */
    }
  
    .text-rating {
      width: 100%;
      height: auto !important;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
    }
  }
  
  /* Écrans jusqu'à 768px (mobiles et petites tablettes) */
  @media (max-width: 768px) {
    .about {
      height: auto;
      flex-direction: column;
      padding: 10px;
    }
  
    .block12 img {
      width: 80%;
    }
  
    .block13 {
      padding-inline: 20px;
      padding-top: 10vh;
    }
  
    .block13 p {
      font-size: 14px;
    }
  
    .liste, .liste2 {
      height: auto;
      flex-direction: column;
    }
  
    .partie1 {
      border-right: none;
      border-bottom: 1px solid #a7a7a7;
    }
  
    .partie2 {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .liste-user {
      flex-wrap: wrap;
      margin-right: 0;
      justify-content: flex-start;
      gap: 8px;
    }
  
    .liste-user .user {
      width: 25px;
      height: 25px;
    }
  
    .rating {
      font-size: 1.1rem;
    }
  
    .text-rating {
      flex-direction: column;
      gap: 8px;
      font-size: 13px;
    }
  
    .experience {
      width: 100%;
      height: 60px;
      zoom: 1;
    }
  
    .nbr span {
      font-size: 2rem;
    }
  
    .anne span {
      font-size: 1rem;
    }
  }
  
  /* Très petits écrans (optionnel) */
  @media (max-width: 480px) {
    .block13 p {
      font-size: 13px;
    }
    .section_title2 {
      font-size: 24px;
    }
    .sous_titre {
      font-size: 14px;
    }
    .experience {
      width: 100%;
      height: 50px;
    }
  }

  /*********************** fin about ***************************/  
  /* Direction LTR par défaut */
.dir-ltr {
  direction: ltr !important;
  text-align: left !important;
}

/* Direction RTL */
.dir-rtl {
  direction: rtl !important;
  text-align: right !important;
}

/* Exemple : gérer les bordures pour RTL */
.dir-ltr .partie1 {
  border-right: 1px solid #a7a7a7;
  border-left: none;
}

.dir-rtl .partie1 {
  border-left: 1px solid #a7a7a7;
  border-right: none !important;
}

.dir-ltr .partie1AR {
  border-left: 1px solid #a7a7a7;
  border-right: none !important;
}

.dir-rtl .partie1AR {
  border-right: 1px solid #a7a7a7;
  border-left: none !important;
}

/* Ajuster margin/padding selon direction */
.dir-ltr .liste-user {
  margin-right: 25%;
  margin-left: 0;
}

.dir-rtl .liste-user {
  margin-left: 25%;
  margin-right: 0;
}

/* Inverser la position des avatars pour RTL */
.dir-ltr .liste-user .user:nth-child(1) img { right: 58px; left: auto; }
.dir-rtl .liste-user .user:nth-child(1) img { left: 58px; right: auto; }

.dir-ltr .liste-user .user:nth-child(2) img { right: 18px; left: auto; }
.dir-rtl .liste-user .user:nth-child(2) img { left: 18px; right: auto; }

.dir-ltr .liste-user .user:nth-child(3) img { right: 33px; left: auto; }
.dir-rtl .liste-user .user:nth-child(3) img { left: 33px; right: auto; }

.dir-ltr .liste-user .user:nth-child(4) img { right: 48px; left: auto; }
.dir-rtl .liste-user .user:nth-child(4) img { left: 48px; right: auto; }

/* Ajuster padding-inline selon direction */
.dir-ltr .block13 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}

.dir-rtl .block13 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}
.directionClass{
  background-color: red !important;
  direction: ltr !important;
}