@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('/Font/NotoKufiArabic-VariableFont_wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
.dropdown {
    position: relative;
    cursor: pointer;
    user-select: none;
    z-index: 99;
  }
  
  .selected {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background: transparent;
    font-size: 14px;
    font-family: inherit;
    padding-inline: 12px;
    border-radius: 4px;
    height: 30px;
    font-family: "Noto Kufi Arabic", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    color: #ffffff;
  }
  
  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
    margin-top: 5px;
    color: #000;
    width: max-content;
  }
  
  .option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Noto Kufi Arabic", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  @media screen and (max-width: 600px) {
    .selected {
      padding: 8px;
      font-size: 13px;
      color: #000 !important;
    }
  
    .option {
      padding: 10px 14px;
      font-size: 13px;
      width: 100% !important;
    }
  }
  